<div class="well col-md-4 col-md-offset-{{4+admin_margin}}">
	<h3 class="text-center" style="margin-top: -5px">Proposer une Question</h3>
   <div ng-show="infos" class="alert " ng-class="succes_add ? 'alert-success':'alert-danger'" role="alert">{{msg}}</div>
	<form role="form">
		<div class="form-group">
   		<label>Thème</label>
   		<select class="form-control" ng-model="data.theme_id">
				<option ng-repeat="theme in themes" value="{{theme.id_theme}}">{{theme.name_theme}}</option>
			</select>
		</div>
 		<div class="form-group">
   			<label>Question</label>
   			<input class="form-control" type="text" ng-model="data.value"/>
 		</div>
 		<div class="form-group">
   			<label>Bonne réponse</label>
   			<input class="form-control" type="text" ng-model="data.good_rep"/>
 		</div>
 		<div class="form-group">
   			<label>Mauvaise réponse</label>
   			<input class="form-control" type="text" ng-model="data.bad_rep1"/>
 		</div>
 		<div class="form-group">
   			<label>Mauvaise réponse</label>
   			<input class="form-control" type="text" ng-model="data.bad_rep2"/>
 		</div>
 		<div class="form-group">
   			<label>Mauvaise réponse</label>
   			<input class="form-control" type="text" ng-model="data.bad_rep3"/>
 		</div>
   		<p class="text-center">
   		<button class="btn btn-success" ng-click="add_question(data)">Ajouter la Question</button>
   		<button class="btn btn-default" type="reset">Effacer</button>
   		</p>
	</form>
</div>