<div class="col-md-8 col-sm-offset-{{2+admin_margin}}">
	<div class="text-center well" ng-show="len_finish == 0">
		<h3>Vous devez avoir joué au moin une partie pour pouvoir accéder à votre historique.</h3>
	</div>
	<div class="text-center well col-md-12" ng-show="len_finish > 0">
		<h3  style="margin-top:-10px;">Parties Terminées</h3>
		<div ng-repeat="finished_game in finished_games track by finished_game.id_game">
			<div class="col-md-3 "><h2><span ng-class="finished_game.score_1 > finished_game.score_2 ? 'label-success' : finished_game.score_1 < 	finished_game.score_2 ? 'label-danger' : 'label-warning'" class="label">{{finished_game.user_name_1}}</span></h2></div>
			<div class="col-md-6">
				<div class="btn-group btn-group-lg" style="margin-top:15px;">
					<button class="btn disabled" ng-class="finished_game.score_1 > finished_game.score_2 ? 'btn-success' : finished_game.score_1 < 	finished_game.score_2 ? 'btn-danger' : 'btn-warning'">{{finished_game.score_1}}</button>
					<button type="button" class="btn btn-default disabled">
						<b ng-show="finished_game.score_1 > finished_game.score_2">Vainqueur : {{finished_game.user_name_1}}</b>
						<b ng-show="finished_game.score_1 == finished_game.score_2">Partie Nulle</b>
						<b ng-show="finished_game.score_1 < finished_game.score_2">Vainqueur : {{finished_game.user_name_2}}</b>
					</button>
					<button class="btn disabled" ng-class="finished_game.score_1 < finished_game.score_2 ? 'btn-success' : finished_game.score_1 > 	finished_game.score_2 ? 'btn-danger' : 'btn-warning'">{{finished_game.score_2}}</button>
				</div>
			</div>
			<div class="col-md-3"><h2><span ng-class="finished_game.score_2 > finished_game.score_1 ? 'label-success' : finished_game.score_2 < 	finished_game.score_1 ? 'label-danger' : 'label-warning'" class="label">{{finished_game.user_name_2}}</span></h2>
			</div>
		</div>
	</div>
</div>