<div class="container col-md-4 col-md-offset-{{4+admin_margin}}">
	<div>
		<div ng-show="infos" class="alert alert-success col-md-4 col-md-offset-4" role="alert">Le quizz : <b> {{updated_quizz_name}} </b> a bien été modifié. </div>
		<table class="table table-striped table-bordered text-center" ng-hide="quizz_filter == ''">
			<thead style="background-color: #fdf9eb; color: #2f2f2f;">
				<tr>
					<td><h4>Rang</h4></td>
					<td><h4>Pseudo</h4></td>
					<td><h4>Score</h4></td>
				</tr>
			</thead>
			<tbody>
				<tr style="margin: 0;" ng-repeat="user in users">
					<td style="padding: 0;" ng-class="user.pseudo == current_user.pseudo ? 'ladder_user' : ''"><h3>{{$index + 1}}</h3> </td>
					<td style="padding: 0;" ng-class="user.pseudo == current_user.pseudo ? 'ladder_user' : ''"><h3>{{user.pseudo}}</h3></td>
					<td style="padding: 0;" ng-class="user.pseudo == current_user.pseudo ? 'ladder_user' : ''"><h3>{{user.score_user}}</h3></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
