<div class="well text-center col-md-4 col-md-offset-4" style="padding:0; color: #009d27">
   <h1>Editer les Membres</h1>
</div >
<div class="form-group text-left well col-md-4 col-md-offset-4">
	<label class="control-label">Rechercher</label>
	<input type="text" ng-model="searchFilter" class="form-control" />
</div>
<div ng-show="infos" class="alert alert-success col-md-4 col-md-offset-4" role="alert">Le membre : <b> {{updated_user_pseudo}} </b> a bien été modifié.<br/>Son mot de passe est désormais : <b>1234</b> </div>
<div class="container col-md-6 col-md-offset-3">
	<div>
		<div class="panel panel-default">
		<table class="table table-striped table-bordered text-center" ng-hide="quizz_filter == ''">
			<thead style="background-color: #fdf9eb; color: #2f2f2f;">
				<tr>
					<td><a class="noselect" style="text-decoration:none" data-ng-click="setFieldOrder('pseudo')"><h4>Pseudo&nbsp<span ng-class="cssOrder('pseudo')"></span></h4><a></td>
					<td><h5 class="noselect" >Attention : ce bouton réinitialise le mot de passe du membre.</h5></td>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="user in users|filter: searchFilter| orderBy:fieldOrder:directionOrder | itemsPerPage: 10">
					<td><h3 style="margin-top: 10px;">{{user.pseudo}}</h3></td>
					<td>
					<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#dialogTestDialog{{$index}}" style="margin: 5px">Réinitialiser le mot de passe</button>
						<div class="modal fade" id="dialogTestDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="executionOptionLabel" aria-hidden="true">
                    		<div class="modal-dialog" >
                    	   		<div class="modal-content text-left" style="background-color: #fbf2d9; padding: 10px">
                    	   			<h3>Voulez réinitialiser le mot de passe de :<br/> <b>{{user.pseudo}}</b> ?</h3>
										<button type="button" class="btn btn-warning" ng-click="validation(user)">Réinitialiser le mot de passe</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
									</div>                                 
                    	   	    </div>
                    	   	</div>
                    	</div></td>
				</tr>
			</tbody>
		</table>
		</div>
		<dir-pagination-controls class="col-md-12 text-center"></dir-pagination-controls>
	</div>
</div>
