<div class="well text-center col-md-4 col-md-offset-4" style="padding:0; color: #009d27">
   <h1>Editer les Quizz</h1>
</div >
<div class="form-group text-left well col-md-4 col-md-offset-4" ng-show="quizz_filter != ''">
	<label class="control-label">Rechercher</label>
	<input type="text" ng-model="searchFilter" class="form-control" />
</div>
<div class="container col-md-6 col-md-offset-3">
	<div>
		<div ng-if="infos" class="alert alert-success col-md-4 col-md-offset-4" role="alert">Le quizz : <b> {{updated_quizz_name}} </b> a bien été modifié. </div>
		<div class="panel panel-default col-md-12" style="padding:0">
		<table class="table table-striped table-bordered text-center" ng-hide="quizz_filter == ''">
			<thead style="background-color: #fdf9eb; color: #2f2f2f;">
				<tr>
					<td><a class="noselect" style="text-decoration:none" data-ng-click="setFieldOrder('name_quizz')"><h4>Nom du Quizz&nbsp<span ng-class="cssOrder('name_quizz')"></span></h4><a></td>
					<td><a class="noselect" style="text-decoration:none" data-ng-click="setFieldOrder('code_quizz')"><h4>Code&nbsp<span ng-class="cssOrder('code_quizz')"></span></h4><a></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="qz in quizz | filter: searchFilter| orderBy:fieldOrder:directionOrder | itemsPerPage: 10" ng-init="updated_quizz = qz;">
					<td onchange="this.className = 'form-group has-success'"><textarea onchange="this.style.backgroundColor = '#e6ffe2'" class="form-control" type="text" ng-model="updated_quizz.name_quizz" rows="2" style="resize: none;"></textarea></td>
					<td><h3 style="margin-top: 10px;">{{updated_quizz.code_quizz}}</h3></td>
					<td><button  style="margin-top: 10px;" type="button" class="btn btn-success" ng-click="validation(updated_quizz)">Sauver</button></td>
				</tr>
			</tbody>
		</table>
		</div>
		<dir-pagination-controls class="col-md-12  text-center" ></dir-pagination-controls>
	</div>
</div>
