<div class="container col-md-offset-{{1+admin_margin}}">
	<div>
		<div class="well text-center col-md-8 col-md-offset-2" ng-show="is_questions() == 0">
			<h2>Il n'y a aucune question à valider pour le moment {{is_question()}}.</h2>
		</div>
		<table class="table table-striped table-bordered text-center" ng-show="is_questions() >= 1">
			<thead>
				<tr>
					<td><h4>Question</h4></td>
					<td><h4>Theme</h4></td>
					<td><h4>Bonne Reponse</h4></td>
					<td><h4>Mauvaise Reponse</h4></td>
					<td><h4>Mauvaise Reponse</h4></td>
					<td><h4>Mauvaise Reponse</h4></td>
					<td><h4>Validation</h4></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="unvalid_question in unvalid_questions"  ng-init="updated_question = unvalid_question">
					<td><textarea onchange="this.className = 'has-success'" class="form-control" type="textarea" ng-model="updated_question.value_question" rows="2" style="resize: none;"></textarea></td>
					<td>
						<select style="margin-top: 12%;" class="form-control" ng-model="updated_question.theme_id">
							<option ng-repeat="theme in themes" ng-value="theme.id_theme" ng-selected="updated_question.theme_id == theme.id_theme">{{theme.name_theme}}</option>
						</select>
					</td>
					<td><textarea class="form-control" type="text"  ng-model="updated_question.good_rep" rows="2" style="resize: none;"></textarea></td>
					<td><textarea onchange="this.className = 'has-success'" class="form-control" type="text"  ng-model="updated_question.bad_rep1" rows="2" style="resize: none;"></textarea></td>
					<td><textarea onchange="this.className = 'has-success'" class="form-control" type="text"  ng-model="updated_question.bad_rep2" rows="2" style="resize: none;"></textarea></td>
					<td><textarea onchange="this.className = 'has-success'" class="form-control" type="text"  ng-model="updated_question.bad_rep3" rows="2" style="resize: none;"></textarea></td>
					<td><button  style="margin-top: 12%;" type="button" class="btn btn-success" ng-click="validation(updated_question)">Valider</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>