body {
	padding-top: 70px;
	margin-left: 180px;
}

.bg-text{
	word-break: break-all;
	letter-spacing:5px;
	text-align: center;
	margin-top: -20px;
	line-height: 70%;
	font-size: 30px;
	position: fixed;
	color: #f4f4f4;
	z-index: -10;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ladder_user{
	background-color: #fdbd62 ;

}
.collapse.in {
      height: auto !important;
}

div .image-bg{
	height: 100%;
	min-height: 600px;
	padding: 30px;
	margin-top: -20px;
	background: url(../ressources/home.png) no-repeat center center;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	/*box-shadow: 0 5px 10px rgba(0, 0, 0, .55);*/
	color: #fff;
	z-index: 2;
}

.warning{
  background-color: #FFEDBD !important;
  border: 1px solid #FF9214 !important;
}

.danger{
  background-color: #FFBDBD !important;
  border: 1px solid #FF3D3D !important;
}

.success{
  background-color: #C3FFBD !important;
  border: 1px solid #009d27 !important;
}
